<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">team 1</th>
            <th>state</th>
            <th class="mdl-data-table__cell--non-numeric">team 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Empire</td>
            <td style="text-align: center">V</td>
            <td class="mdl-data-table__cell--non-numeric">VP</td>
        </tr>
    </tbody>
</table>
